.App {
  text-align: center;
}

body{
  background-color: rgb(144, 68, 216)
}

.PAGE{
  color: darkred;
}

.APP{
  background-color: rgb(62, 62, 216);
}

.PRODUCTS{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.PROD{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:center;
}

.Box{
  border: 2px solid rgb(6, 12, 0);
  height: 400px;
  width: 300px;
  padding: 1ch;
  color: aqua;
  justify-content: center;
}

.CARTLOOKSLIKE{
  padding: 1ch;
  color: rgb(187, 214, 35);
  justify-content: space-around;
}


.HEADING{
  background-color: blanchedalmond;
}

.product {
	width: 30%;
	margin: 30px;
}

.form-group {
	width: 30%;
	margin: 30px;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.CARTLOOKSLIKE{
  border: 2px solid rgb(6, 12, 0);
  padding: 1ch;
  color: aqua;
  justify-content: center;
}

.CheckOut{
  border: 2px solid rgb(6, 12, 0);
  padding: 1ch;
  color: aqua;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}